.subtitle {
    font-family: Montserrat;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.title {
    font-size: 35px;
    font-family: montserrat;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.underlined {
    text-decoration: underline;
}