.name,.lname{
    width:120px;
    height: 40px;
    border-radius: 10px;
     border-color: rgb(145, 145, 145);
    border-style: solid;
    border-width: 1px;
    font-size:15px;
    margin-bottom: 8px;
    padding-left: 10px;


}


.email,.button{
    display: block;
    height:40px;
    border-radius: 10px;
    margin-bottom: 8px;

}

.email{
    width: 255px;
    border-color: rgb(145, 145, 145);
    border-style: solid;
    border-width: 1px;
    font-size:15px;
    padding-left: 10px;
}
.button{
     background-color: rgb(41, 124, 248);
     color: white;
     border: 0px;
     font-size:18px;
     font-weight: bold;
     width: 270px;

}

